{% include "elements/header.html" %}

{% if session['group_id'] and session['group_id'] <3 %}
<form method="post">
    <table class="form">
        <tr>
        <td>
            <label for="subject">Blog subject:</label>
        </td>
        <td>
            <input name="subject" id="subject" value='{{ blog[0][1] }}' maxlength="50" required>
        </td>
        </tr>
        <tr>
        <td>
            <br><br>
            <label for="content">Blog content:</label>
        </td>
        <td>
            <textarea name="content" id="content" maxlength="1000" rows="4" cols="50" required>{{ blog[0][2] }}{{ request.form['content'] }}</textarea>
        </td>
        </tr>
        <tr>
        <td></td>
        <td>
            <input type="submit" name="send" value="Update blog post">
        </td>
        </tr>
    </table>
</form>
{% else %}
    <h2>{{ blog[0][1] }}</h2>
    <p>Date: {{ blog[0][3].strftime('%Y-%m-%d') }}</p>
    <p>{{blog[0][2]}}</p>
{% endif %}


{% include "elements/footer.html" %}
