{% include "elements/header.html" %}
<h2>News bulletin</h2>
    <table class="bulletin">
    {% for i in results[0] %} 
        <tr>
            <td>{{ i[0] }}:</td> 
            <td>{{ i[1] }}</td>
        </tr>
    {% endfor %}
    </table>
<h2>Blog</h2>
    <table class="blog">
    {% for i in results[1] %} 
        <tr>
            <td><a href="{{ url_for( 'blog' , blog_id='%s' % i[0]) }}">{{ i[1] }}</a>-- {{ i[3].strftime('%Y-%m-%d') }}</td>
        </tr>
        <tr>
            <td>
                {{ i[2] }}
                {% if i[2]|length > 29 %}
                    ...
                {% endif %}
            </td>
        </tr>
        <tr><td><br><br</td></tr>
    {% endfor %}
    </table>

{% include "elements/footer.html" %}
