<!DOCTYPE html>
<html>
{% include "elements/header.html" %}
<body>
    <h2>What are we made of?</h2>
    <p>My site = nginx + python / flask + postgres + docker</p>
    <h2>News bulletin</h2>
        <table class="bulletin">
            <tr>
                <th>Date</th>
                <th>News subject</th> 
                <th>News message</th>
            </tr>
        {% for i in news_bulletin %} 
            <tr>
                <td>{{ i[2].strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ i[0] }}</td> 
                <td>{{ i[1] }}</td>
            </tr>
        {% endfor %}
        </table>
    
    
</body>
{% include "elements/footer.html" %}
</html>