{% include "elements/header.html" %}

<h2>Create news bulletin</h2>
<p>Use the form below to create the news bulletin.</p>
<p>
  <form method="post">
    <table class="form">
      <tr>
        <td>
          <label for="nb_subject">News bulletin subject:</label>
        </td>
        <td>
          <input name="nb_subject" id="nb_subject" maxlength="50" required>
        </td>
      </tr>
      <tr>
        <td>
          <br><br>
          <label for="nb_content">News bulletin content:</label>
        </td>
        <td>
          <textarea name="nb_content" id="nb_content" maxlength="1000" rows="5" cols="200" required>{{ request.form['nb_content'] }}</textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" name="send" value="Create bulletin">
        </td>
      </tr>
    </table>
  </form>
</p>

<h2>Create blog post</h2>
<p>Use the form below to create a new blog post.</p>
<p>
  <form method="post">
    <table class="form">
      <tr>
        <td>
          <label for="b_subject">Blog subject:</label>
        </td>
        <td>
          <input name="b_subject" id="b_subject" maxlength="50" required>
        </td>
      </tr>
      <tr>
        <td>
          <br><br>
          <label for="b_content">Blog content:</label>
        </td>
        <td>
          <textarea name="b_content" id="b_content" maxlength="1000" rows="5" cols="200" required>{{ request.form['b_content'] }}</textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" name="send" value="Create blog post">
        </td>
      </tr>
    </table>
  </form>
</p>

{% include "elements/footer.html" %}
