<!DOCTYPE html>
<html>
<head>
    <title>
        {{ conf.name }}
    </title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<header>
    {% for message in get_flashed_messages() %}{{ message }}{% endfor %}
    {% if status %}<b>Success: {{ status }}  </b>{% endif %}
    {% if session['user'] %}Logged in: {{ session['user'] }}{% endif %}
    
    <h1>{{ conf.name }}</h1>
    <p>
        <a href="{{ url_for('index') }}"><button>Home</button></a>
        <a href="{{ url_for('text_page') }}"><button>Example:Text</button></a>
        <a href="{{ url_for('post_page') }}"><button>Example:Post</button></a>
        
        
        {% if session['group_id'] %}
        <a href="{{ url_for('manager') }}"><button>Site manager</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
        {% else %}
        <a href="{{ url_for('login') }}"><button>Login</button></a>
        <a href="{{ url_for('register') }}"><button>Register</button></a>
        {% endif %}
    </p>
</header>
<body>